<a href="https://colab.research.google.com/github/abhaysaxena700/PYTHON-PRACTICES/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  #Functions as Arguments

def myfunc(x):
  print(x+" Pvt Ltd.")
myfunc("Inland")
myfunc("Darcl")
myfunc("Western")

Inland Pvt Ltd.
Darcl Pvt Ltd.
Western Pvt Ltd.

In [ ]:
#Number of Arguments

def myfunc(x,y):
  print(x+"-"+y)
myfunc("Abhay", "Saxena")

Abhay-Saxena

In [ ]:
#Arbitrary Arguments, *args

def myfunc(*x):
  print("My statement is:"+x[1])
myfunc("Inbound","Outbound","Railways")

My statement is:Outbound

In [ ]:
#Keyword Arguments

def myfunc(vendor1, vendor2, vendor3):
  print("the top vendors is: ",vendor2)
myfunc(vendor1="Inland", vendor2="UAE", vendor3="Lucky")

the top vendors is:  UAE

In [ ]:
#Arbitrary Keyword Arguments, **kwargs

def myfunc(**name):
  print("My name is :", name["fname"])
myfunc(fname="Abhay", lname="Saxena")

My name is : Abhay

In [ ]:
#Default Parameter Value

def myfunc(country="India"):
  print(" I am from: "+country)
myfunc(country="Pakistan")
myfunc(country="Russia")
myfunc()
myfunc(country="Brazil")
myfunc(country="Sri Lanka")

 I am from: Pakistan
 I am from: Russia
 I am from: India
 I am from: Brazil
 I am from: Sri Lanka

In [ ]:
#Passing a List as an Argument

num=[1,2,3]
def myfunc(item):
  for x in item:
    print(x)
item=["Abhay", "Ashi"]
num=[1,2,3]
myfunc(item)

Abhay
Ashi

In [ ]:
#Return Values

def myfunc(x):
  return 10*x
print(myfunc(2))
print(myfunc(4))
print(myfunc(6))
print(myfunc(8))

20
40
60
80

In [ ]:
#The pass Statement

def myfunc():
  pass

In [ ]:
#Positional-Only Arguments

def myfunc(x,/):
  print(x)
myfunc(4)

4

In [ ]:
#Keyword-Only Arguments

def myfunc(*,x):
  print(x)
myfunc(x=5)

5

In [ ]:
#Combine Positional-Only and Keyword-Only

def myfunc(a,b,/,*,c,d):
  print(a*b*c*d)
myfunc(2,4,c=6,d=8)

384