<a href="https://colab.research.google.com/github/abhaysaxena700/PYTHON-PRACTICES/blob/main/Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Arithmetic Operators

x=10
y=5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

15
5
50
2.0
0
2
100000

In [ ]:
# Comparison Operators

a=10
b=8
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
#Logical Operators

print(10>5 and 5<10)         #Returns True if both statements are true
print(10<5 or 5<10)          #Returns True if one of the statements is true
print(not(10>5 and 5<10)) # returns False because not is used to reverse the result

True
True
False

In [ ]:
#Identity Operators

a=5
b=10
c=5
print(a is b)
print(a is c)
print(a is not b)
print(a is not c)

False
True
True
False

In [ ]:
#Membership Operators

Vendor=["Lucky", "Inland","UIL", "Jagdish"]
print("Lucky" in Vendor)
print("Economic" in Vendor)
print("Lucky" not in Vendor)
print("Economic" not in Vendor)

True
False
False
True

In [ ]:
#Assignment Operators

x=10
y=5
#x**=2
print(x)
a=13
#a&=7     #1101-111-101=5
#a|=7      #1101-111-1111=15
#a^=7    #1101-111-1010=10
#a>>=7   #1101-111-0=0
a<<=7   #1101-111-11010000000=1664
print(a)

10
1664

In [ ]:
#Number to Binary
num = 3
binary = bin(num)[2:]
print(binary)
#Binary to Number
binary='010'
num = int(binary, 2)
print(num)

11
2

In [ ]:
#Bitwise Operators

print(6 & 3)  #110-011-010=2
print(6 | 3)  #110-011-111=7
print(6 ^ 3)  #110-011-101=5
print(~7)     # ~n= -(n + 1)
print(5 << 2) #It’s like multiplying by 2 two times:
print(6 >> 2) #It’s like dividing by 2 two times:

2
7
5
-8
20
1