<a href="https://colab.research.google.com/github/abhaysaxena700/PYTHON-PRACTICES/blob/main/Slicing_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Silicing String

a="Hello World!"
print(a[2:9])
print(a[:5])
print(a[5:])
print(a[-6:])
print(a[-6:-1])

llo Wor
Hello
 World!
World!
World

In [ ]:
#Modify String

a=" I am Data Analyst"
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("Analyst","Sciencist"))
print(a.split())

 I AM DATA ANALYST
 i am data analyst
I am Data Analyst
 I am Data Sciencist
['I', 'am', 'Data', 'Analyst']

In [ ]:
#String Concatenate

x="Data"
y="Analyst"
print(x+" "+y)

Data Analyst

In [ ]:
#Format String

age=26
title="Data Analyst"
print("My position is " + title)
txt= f"My age is {age} and I am {title}"
print(txt)
daily=650
text=f"My daily expenses is {daily:.4f} and my income is {daily*30:.2f}"
print(text)

My position is Data Analyst
My age is 26 and I am Data Analyst
My daily expenses is 650.0000 and my income is 19500.00

In [ ]:
#Escape Character

txt="I am a \"Data\" Analyst"
print(txt)
txt = "Hello\rWorld!"
print(txt)

I am a "Data" Analyst
World!